{% extends "journey/layout.html" %}

{% block body %}

<div class="container-fluid">
    <div id="outreach-banner" class="row banner justify-content-center align-items-center">
        <div class="col-auto">
            <h1 class="display-1">Beliefs</h1>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-12 mb-4">
          <h1 class="text-center">The Apostle's Creed</h1>
        </div>
        <div class="col-auto">
        I believe in God, the Father almighty,<br>
        creator of heaven and earth.<br><br>

        I believe in Jesus Christ, his only Son, our Lord.<br>
        He was conceived by the power of the Holy Spirit<br>
        and born of the Virgin Mary.<br>
        He suffered under Pontius Pilate,<br>
        was crucified, died, and was buried.<br>
        He descended to the dead.<br>
        On the third day he rose again.<br>
        He ascended into heaven,<br>
        and is seated at the right hand of the Father.<br>
        He will come again to judge the living and the dead.<br><br>

        I believe in the Holy Spirit,<br>
        the holy catholic Church*,<br>
        the communion of saints,<br>
        the forgiveness of sins,<br>
        the resurrection of the body,<br>
        and the life everlasting. Amen.<br><br>

        *meaning the universal Christian church—all believers in Jesus Christ
    </div>
</div>

{% endblock %}
