{% extends "journey/layout.html" %}

{% block body %}

<div class="container-fluid">
    <div id="outreach-banner" class="row banner justify-content-center align-items-center">
        <div class="col-auto">
            <h1 class="display-1">Our Team</h1>
        </div>
    </div>
</div>


<!-- Team member layout source: https://startbootstrap.com/snippets/about-team -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Team Member 1 -->
    {% for member in team %}
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="{{ member.image.url }}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">{{ member.name }}</h5>
          <div class="card-text text-black-50">{{ member.role }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
